<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="layouts/default">
<!-- HEAD 4 ALL -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Infnet Opinião</title>
<!-- jQuery -->
<link th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}" rel="stylesheet" media="screen" />
<!-- BootStrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<!-- CSS -->
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<link href="../static/css/answer.css" th:href="@{/css/main.css}" rel="stylesheet" />
<!-- Bootstrap Datepicker -->
<!-- 	<link th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
     -->
<link href="/css/jquery-ui-timepicker-addon.min.css" th:href="@{/css/jquery-ui-timepicker-addon.min.css}" rel="stylesheet" />


</head>
<body>

	<header layout:include="fragments/header"></header>
	<div layout:include="message"></div>
	<section layout:fragment="content"></section>


	<!-- jQuery -->
	<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.js}"></script>
	<!-- BootStrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Bootstrap Datepicker -->
	<!--         	<script th:src="@{/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
   -->
	<!-- INFNET js -->
	<script src="/js/infnet.js"></script>

	<script src="/js/jquery-ui-timepicker-pt-BR.js"></script>
	<script src="/js/jquery-ui-timepicker-addon.min.js"></script>
	<script src="/js/jquery-ui-sliderAccess.js"></script>





</body>
</html>