@CHARSET "UTF-8";

label{
    display: unset;
}

textarea{
    width: 100%;
    height: 100%;
}

hr{
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.img-logo-answer{
    max-width: 30%;
}

.margin-questions{
    margin-left: 2%;
}


