@CHARSET "UTF-8";


.sairicon{
	padding-top: 8px;
}

.alert{
	padding-top: 55px;
}

.menu-title{
	color: white;
	margin-right: 5px;
}

.navbar-brand{
	padding-top: 12px;
}

.ms-banner{
	margin-left: 10px;
	margin-right: 10px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	background-color: #1F2433;
}


.os-title-panel{
	float: left;
	padding-top: 2px;
}

.os-link-panel {
	float: right;
	padding: 0px;
}

.btn-lag{
	padding-top: 15px;
}

.add-st{
	padding-bottom: 15px;
}
.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-top: 130px;
	margin-left: 10px;
	margin-right: 10px;
}


.title-panel{
	float: left;
	padding-top: 2px;
}

.link-panel {
	float: right;
	padding: 0px;
}



.navbar {
	background-color: #1F2433;
}

.logo{
	padding-top: 5px;
}

.logout {
	color: white;
}


.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-control{
	 margin-bottom: 15px ;
}

/* .btn { */
/* 	 margin-bottom: 15px ; */
/* 	 margin-top: 15px; */
/* } */

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textarea{
	width: 100%;
	height: 100%;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}h2{
	color:#FF0000;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}